<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>
    
{% include "nav.html" %}

    <div class="container"> 

        <!-- Content -->
        <div id="content">
          
              <h4>REST API</h4>

              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"> This is a public endpoint without a rate limit!</pre>
              </div>

              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"><b>GET</b> <span class="lit">https://cyberbl0g.herokuapp.com/api/public</span></pre>
              </div>
              <br><br>
              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"> This is a private endpoint without a rate limit! (Make sure your account is authenticated)</pre>
              </div>

              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"><b>GET</b> <span class="lit">https://cyberbl0g.herokuapp.com/api/private</span></pre>
              </div>
              <br><br>
              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"> This is a secret endpoint with a rate limit of 3 requests/day, please <a href="#" style="color: fuchsia;font-weight: bolder;">Contact Me</a> to request a secret API key!</pre>
              </div>

              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"><b>GET</b> <span class="lit">https://cyberbl0g.herokuapp.com/api/secret</span></pre>
              </div>
              <br><br>
            </div>
        </div>
    </div>  

</body>
  
</html>