<!DOCTYPE html>
<html>
  <head>
    

      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      

      <title>Cyberbl0g API</title>

      
        
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
        

        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
        
      

    
  </head>

  
  <body class="">

    <div class="wrapper">
      
        <div class="navbar navbar-static-top navbar-inverse"
             role="navigation" aria-label="navbar">
          <div class="container">
            <span>
              
                <p class='navbar-brand'>
                    Cyberbl0g API
                </p>
              
            </span>
          </div>
        </div>
      

      <div class="container">           

        <!-- Content -->
        <div id="content">
          

          <div class="region" >
            <div class="content-main">
              <div class="page-header">
                <h1>Secret</h1>
              </div>             
              <h4>REST API</h4>

              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"> This is a public endpoint without a rate limit!</pre>
              </div>

              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"><b>GET</b> <span class="lit">https://cyberbl0g.herokuapp.com/api/public</span></pre>
              </div>
              <br><br>
              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"> This is a private endpoint without a rate limit! (Make sure your account is authenticated)</pre>
              </div>

              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"><b>GET</b> <span class="lit">https://cyberbl0g.herokuapp.com/api/private</span></pre>
              </div>
              <br><br>
              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"> This is a secret endpoint with a rate limit of 3 requests/day, please <a href="#" style="color: fuchsia;font-weight: bolder;">Contact Me</a> to request a secret API key!</pre>
              </div>

              <div class="request-info" style="clear: both" aria-label="request info">
                <pre class="prettyprint"><b>GET</b> <span class="lit">https://cyberbl0g.herokuapp.com/api/secret</span></pre>
              </div>
              <br><br>
            </div>

            
          
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

    


      <script src="/static/rest_framework/js/jquery-3.5.1.min.js"></script>
      <script src="/static/rest_framework/js/ajax-form.js"></script>
      <script src="/static/rest_framework/js/csrf.js"></script>
      <script src="/static/rest_framework/js/bootstrap.min.js"></script>
      <script src="/static/rest_framework/js/prettify-min.js"></script>
      <script src="/static/rest_framework/js/default.js"></script>

    

  </body>
  
</html>