<html> 
{% include "head.html" %}

<body>
    
{% include "nav.html" %}
<style>
.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div class="container">
    <div class="card center">
        <div class="card-body">
            <div class="container">
                <img class="center-img" src="https://i.cloudup.com/StzWWrY34s.png" /> 
                <h3 style="text-align: center;">Cyber Blog</h3> 
                <p style="text-align: center;">Please log in to continue!</p> 
            </div>
            <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0"> Log In </a> 
        </div>
    </div> 
</div>
{% include "footer.html" %}
</body> 
</html>