<html> 
{% include "head.html" %}

<body>
    
{% include "nav.html" %}
<style>
       .center {
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
}
</style>
<div class="container">
    <div class="card center">
        <div class="card-body">
            <img src="https://i.cloudup.com/StzWWrY34s.png" /> 
            <h3>Cyber Blog</h3> 
            <p>Please log in to continue!</p> 
            <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0"> Log In </a> 
        </div>
    </div> 
</div>
{% include "footer.html" %}
</body> 
</html>