<!-- Main Navbar-->
<nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a href="/" class="navbar-brand">Cyber Blog</a>
    <!-- Navbar Menu -->
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/" class="nav-link ">Home</a></li>
        <li class="nav-item"><a href="/blog" class="nav-link ">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link ">Contact</a></li>
      </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        </ul>
        {% endif %}

    </div>
  </div>
</nav>